page-more {
  .more-logo {
    background: url("../assets/image/common/logo.png") no-repeat;
    background-size: 75px;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border-radius: 6px;
  }
  .version-title {
    margin-top: 10px;
    text-align: center;
  }
}
