.ion-tab-icon-base {
  width: pxTorem(30px);
  height: 35px !important;
  padding: pxTorem(2px) pxTorem(2px) pxTorem(2px);
  //border-top: 1px solid #ccc;
  //border-radius: 50%;
}

$tabs: 'index', 'guide-hospital', 'record', 'center';
@for $i from 1 through length($tabs) {
  $item: nth($tabs, $i);
  .ion-ios-#{$item} {
    @extend .ion-tab-icon-base;
    content: url("../assets/image/tabs/#{$item}-select-bar.png");
  }
  .ion-ios-#{$item}-outline {
    @extend .ion-tab-icon-base;
    content: url("../assets/image/tabs/#{$item}-bar.png");
  }
}



