<!--
  Generated template for the PayResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>缴停车费</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showParkingPay()">
        刷新
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content bg-color-1>
  <div class="park-main" *ngFor="let item of paylist">
    <div class="park_1">
      <span class="title">车&nbsp;&nbsp;牌&nbsp;&nbsp;号：</span>
      <span class="content">{{item.plateNo}}</span>
    </div>
    <div class="park_1">
      <span class="title">入场时间：</span>
      <span class="content">{{item.entryTime}}</span>
    </div>
    <div class="park_1">
      <span class="title">当前费用：</span>
      <span class="content red">￥&nbsp;{{item.payable}}</span>
    </div>
    <button ion-button full round zk-button-full *ngIf="item.payable != 0 && item.payable != '0.00'" (click)="payStopCar(item)">付款</button>


  </div>


  <empty-view *ngIf="!paylist.length > 0" [text]="'没有待缴费记录'"></empty-view>


</ion-content>
