page-check-test-analysis {
  .searchbar-ios {
    background: #fff;
    padding: pxTorem(5px) pxTorem(8px);
    border: 0 !important;
  }
  .searchbar-ios .searchbar-input {
    border-radius: pxTorem(100px);
    background-color: #efeff4;
  }
  .search-button {
    height: 3rem !important;
  }
}
