page-self-pay {
  .item-checkbox{
    width: 120px;
    height: 100%;
  }
  .self-pay{
    height: 50px;
    line-height: 40px;
    margin: 10px 50px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #EC6386;
  }
  .self-pay .pay{


  }
  .self-pay .select{
    background-color: #EC6386;
    color: #FFFFFF;
  }
}
