page-check-record-detail {
  .conclusion{
    margin-top: 15px;
    background-color: #ffffff;
    padding: 15px 0;
    .key{
      float: left;
      padding-left: 15px;
      font-size: 14px;
      color: #9B9B9B;
    }
    .value{
      padding-left: 90px;
      padding-right: 15px;
    }
  }
}
