<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-zk-plugin"
        version="1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ZkPlugin</name>

  <js-module name="ZkPlugin" src="www/ZkPlugin.js">
    <clobbers target="ZkPlugin" />
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="ZkPlugin">
        <param name="android-package" value="cordova.plugin.zk.plugin.ZkPlugin" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/ZkPlugin.java" target-dir="src/cordova/plugin/zk/plugin/ZkPlugin" />
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="ZkPlugin">
        <param name="ios-package" value="ZkPlugin" />
      </feature>
    </config-file>
    <source-file src="src/ios/ZkPlugin.m" />
  </platform>

</plugin>
