<!--
  Generated template for the FeeRecordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>费用记录</ion-title>
  </ion-navbar>

</ion-header>


<ion-content bg-color-1>
  <ion-item detail-push tappable class="border-none select-person-page" (click)="pushMemberSelectView()" style="margin-bottom: 10px;">
    {{member.name?member.name:'选择持卡人'}} <span *ngIf="member.id">{{member.sex == 'FEMALE'?'女':'男'}}&nbsp; | &nbsp;{{member.mobileNo}}</span>
  </ion-item>
  <ion-refresher (ionRefresh)="loadData($event)" *ngIf="member && member.id > 0">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!--<div style="padding: 8px 0">
    <ion-grid no-padding>
      <ion-row class="time-section">
        <ion-col col-4 text-center title-color-3 class="time" style="margin: 0 5px">
          <ion-datetime displayFormat="YYYY-MM-DD" placeholder="请选择日期" [(ngModel)]="beginDate"
                        cancelText="取消" doneText="确定"></ion-datetime>
        </ion-col>
        <ion-col col-1 title-color-1 size-small-1 text-center>至</ion-col>
        <ion-col col-4 text-center title-color-3 class="time" style="margin: 0 5px">
          <ion-datetime displayFormat="YYYY-MM-DD" placeholder="请选择日期" [(ngModel)]="endDate"
                        cancelText="取消" doneText="确定"></ion-datetime>
        </ion-col>
        <ion-col col-2>
          <button full round ion-button button-theme no-margin style="margin: 0 5px;height: 4rem" (click)="loadData()">确定</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>-->
  <ion-list class="record-list" *ngIf="dataList.length > 0">
    <div *ngFor="let item of dataList">
      <ion-item-divider color="light">
        <div class="record-divider">{{item.monthName}}</div>
      </ion-item-divider>
      <ion-item detail-push class="record-cell" *ngFor="let item1 of item.baseItem" no-padding tappable
                (click)="pushView('FeeRecordDetailPage', item1.id)">
        <ion-grid>
          <ion-row>
            <ion-col title-color-1 size-middle col-9>{{item1.userName}} {{'(***' + item1.cardNO.slice(item1.cardNO.length - 4) + ')'}}</ion-col>
            <ion-col title-color-5 size-middle col-3 text-right>¥ {{item1.totalFee}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col title-color-4 size-small-3>{{item1.receiptType}}</ion-col>
            <ion-col title-color-4 size-small-3 text-right>{{item1.feeDate}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
  <div tappable (click)="getServiceData()" *ngIf="hasMore" title-color-2 size-small-2 text-center style="line-height: 40px">
    更多历史
  </div>
  <empty-view *ngIf="!dataList.length > 0"></empty-view>
</ion-content>
