page-medical-tools {
  .bmi {
    background: url("../assets/image/guide-hospital/knowledge-repository/bmi.png") no-repeat;
  }
  .ygzc {
    background: url("../assets/image/guide-hospital/knowledge-repository/ygzc.png") no-repeat;
  }
  .hydjd {
    background: url("../assets/image/guide-hospital/knowledge-repository/hydjd.png") no-repeat;
  }
  .xxzc {
    background: url("../assets/image/guide-hospital/knowledge-repository/xxzc.png") no-repeat;
  }
}
