page-health-information {
  .zk-tab-col {
    text-align: center;
    height: pxTorem(44px);
    line-height: pxTorem(44px);
    font-size: pxTorem(15px);
  }
  .zk-tab-col .flag {
    height: pxTorem(3px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .left-float {
    float: left;
  }
  .news-col {
    position: relative;
    width: pxTorem(74px);
  }
  ol, ul {
    list-style: none;
  }
  ion-scroll {
    height: pxTorem(44px);
  }
  .zixun-item .title{
    white-space: initial;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
